<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ORCA Search</title>
</head>

<body style="background-color: lightgray;margin-left: 1rem;margin-right: 1rem;">
  <h1>ORCA Document Search</h1>
  <form method="post">
    <label for="query">Query:</label><br>
    <input type="text" name="query" id="query">
    <button type="submit">Search</button>
  </form>
  <a href="https://whoosh.readthedocs.io/en/latest/querylang.html#overview" target="_blank">How to&hellip;</a>
  <br style="margin-bottom: 1rem;">
  <hr>
  <ul id="searchCache">
    {%- for search in searches | reverse %}
    <li{% if not loop.last %} style="margin-bottom: 1rem;" {% endif %}>
      <strong style="background-color: yellow;padding: 1px;">{{ search['query_str'] }}</strong>
      &mdash; {{ search['results']['count'] }} results
      {%- if not search['results']['complete'] %}
      so far (working...)
      {%- endif %}
      <ul>
        {%- if not search['results']['complete'] %}
        <li>
          Started {{ search['timestamp'] | iso_datetime }}
        </li>
        {%- endif %}
        {%- for doc in search['megadocs'] %}
        <li>
          {%- if not doc['complete'] %}
          {{ doc['filetype'] | upper }}: {{ '%.1f'|format(doc['pages'] / search['results']['count'] * 100.0|float) }}%
          complete (working...)
          {%- else %}
          📄 <a href="{{ doc['path'] }}">Download .{{ doc['filetype'] | upper }}</a> ({{ doc['size'] | filesize }})
          {%- endif %}
        </li>
        {%- endfor %}
      </ul>
      </li>
      {%- endfor %}
  </ul>
  <label for="autorefresh">Auto-refresh:</label>
  <input type="checkbox" name="autorefresh" id="autorefresh" checked>
  <hr>
  <footer>
    <p>
      <a href="https://github.com/seangilleran/orca_web" target="_blank">
        https://github.com/seangilleran/orca_web
      </a><br>
      Last updated March 2024
    </p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script>
    $(document).ready(function () {
      $('form').submit(function () {
        $(this).find(':button').prop('disabled', true);
        setTimeout(() => {
          $(this).find(':button').prop('disabled', false);
        }, 2000);
      });

      if ($('#autorefresh').is(':checked')) {
        $('#searchCache').children().each(function () {
          if ($(this).text().indexOf('working...') !== -1) {
            setTimeout(function () {
              location.reload();
            }, 2000);
            return false;
          }
        });
      }
    });
  </script>

</body>

</html>